name: Build

env:
  PUBLISH: false

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permissions for Gradle wrapper
        run: chmod +x gradlew

      - name: Get mod version
        id: version
        shell: bash
        run: |
          VERSION=$(grep '^mod_version' gradle.properties | cut -d'=' -f2 | tr -d '\r')
          echo "MOD_VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build mod
        run: ./gradlew clean build --stacktrace

      - name: Upload built JARs
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: create_cold_sweat-${{ steps.version.outputs.MOD_VERSION }}
          path: |
            build/libs/*.jar
            !build/libs/*-sources.jar
            !build/libs/*-dev.jar
